# Node.js
node_modules/
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.vscode/

# Testing
coverage/

# Logs
logs/

# Build output
dist/
build/

# MySQL
mysql.config.js
mysql.config.ts

# Secrets
.env
.env.local

# Other
*.swp
*.DS
